<div class="area" id="my-ner">
  <div class="clearfix">
    <div class="title">
      <h3>实体识别:</h3>
    </div>
    <div class="button-list">
      <ul class="list">
        {{#each list as |item index|}}
        <li class="inline {{is-selected item.index selected}}">
          <a onclick={{action 'selectNer' item.index}}>{{item.name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="result-center">
    <ul class="list">
      {{#each data as |items|}}
      <li class="clearfix">
        <div class="words">
          <ul class="list">
            {{#each items.list as |item|}}
            <li class="inline">
              {{#if item.entity}}
              <span class="tag {{item.entity}}">{{item.value}}</span>
              {{else}}
              <span class="tag normal">{{item.value}}</span>
              {{/if}}
            </li>
            {{/each}}
          </ul>
        </div>
        <div class="word-mean">
          <div>类别图示:</div>
          <ul class="list">
            {{#each items.entity as |item|}}
            <li class="inline">
              <span class="tag {{item}}">{{ner-entity item}}</span>
            </li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>