<div class="big-title">
  <div>
    <h2>
      <a href="/multipletext">多文本演示</a>
    </h2>
  </div>
  <div>
    <h2>
      <a href="/singletext">单文本演示</a>
    </h2>
  </div>
</div>

{{multiple-textarea text=text changeText=(action 'changeText') submit=(action 'getData')}}

{{!-- <button onclick={{action 'getData'}}>分析数据</button> --}}

<div class="content">
  <div>
    <h3>分析结果</h3>
  </div>
  <div class="result clearfix">
    <div class="left area">
      {{my-menu list=list selected=selected selectedChange=(action 'selectedChange')}}
    </div>
    <div class="right">
      {{my-cluster data=cluster lineText=lineText sizeChange=(action 'sizeChange')}}
      {{my-emotion data=emotion emotionChange=(action 'emotionChange')}}
      {{my-wc data=wc}}
      {{my-cloud data=cloud}}
    </div>
  </div>
  <div class="floor">底部</div>
</div>