<div class="big-title">
  <div>
    <h2><a href="multipletext">多文本演示</a></h2>
  </div>
  <div>
    <h2><a href="singletext">单文本演示</a></h2>
  </div>
</div>

{{my-textarea submit=(action 'submit')}}

<div class="content">
  <div><h3>分析结果</h3></div>
  <div class="result clearfix">
    <div class="left area">
      {{my-menu list=list selected=selected selectedChange=(action 'selectedChange')}}
    </div>
    <div class="right">
      {{my-tag data=tag}}
      {{my-ner selectNer=(action 'selectNer') data=ner}}
      {{my-depparser}}
      {{my-sentiment selectSentiment=(action 'selectSentiment') data=sentiment}}
      {{my-summary selectSummary=(action 'selectSummary') data=summary}}
      {{my-classify data=classify}}
      {{my-keywords data=keywords}}
      {{my-suggest data=suggest word=keywordsForSuggest}}
    </div>
    {{!-- <div class="clear"></div> --}}
  </div>
  <div class="floor">底部</div>
</div>