{{!-- {{outlet}} --}}

<h1>单文本演示</h1>
{{!-- <div class="text">
  <textarea name="text" id="text"></textarea>
  <div>
    <button type="submit">提交</button>
  </div>
</div> --}}
{{my-textarea}}

<div class="content">
  <div><h3>分析结果</h3></div>
  <div class="result clearfix">
    <div class="left area">
      <ul style="list-style:none">
        <li><a href="#my-tag">词性分析</a></li>
        <li><a href="">实体识别</a></li>
        <li><a href="">依存文法</a></li>
        <li><a href="">情感分析</a></li>
        <li><a href="#my-summary">新闻摘要</a></li>
        <li><a href="">新闻分类</a></li>
        <li><a href="">关键词提取</a></li>
        <li><a href="">词义联想</a></li>
      </ul>
    </div>
    <div class="right">
      {{my-tag}}
      {{my-ner}}
      {{my-depparser}}
      {{my-sentiment}}
      {{my-summary}}
      {{my-classify}}
      {{my-keywords}}
      {{my-suggest}}
    </div>
    {{!-- <div class="clear"></div> --}}
  </div>
  <div class="floor">底部</div>
</div>